<div class="row">
	<div class="col-md-4 col-md-offset-2">
    	<div style="display:inline-block; min-height:290px;">
        	<datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" ng-click="addDate(dt)"></datepicker>
    	</div>
    </div>
    <div class="col-md-3">
	    <table class="table">
		    <tr ng-repeat="pvm in avaimet | orderBy">
		        <td class="center">{{ pvm | date:'longDate' }}</td>
		        <td class="left"><span class="glyphicon glyphicon-trash spacer" ng-click="deletePvm(pvm)"></span></td>
		    </tr>   	
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-2">
		<a class="btn btn-primary" href="#/">Takaisin</a>
		<a class="btn btn-primary" href="#/kutsu" ng-click="kirjoitaData()">Seuraava</a>
	</div>
</div>