<div class="row">
<div class="text-center">
	<div class="col-md-1" id="userWell">
		<a ui-sref="main.dashboard.users"><div class="well"><h3><b>{{vm.numberOf.users}}<p>Users</p></b></h3></div></a>
	</div>
	<div class="col-md-1" id="managerWell" ng-show="user.role === 'admin'">
		<a ui-sref="main.dashboard.managers"><div class="well"><h3><b>{{vm.numberOf.managers}}<p>Managers</p></b></h3></div></a>
	</div>
	<div class="col-md-1" id="adminWell" ng-show="user.role === 'admin'">
		<a ui-sref="main.dashboard.admins"><div class="well"><h3><b>{{vm.numberOf.admin}}<p>Admins</p></b></h3></div></a>
	</div>
</div>
</div>
<div ui-view></div>
