<div class="container-fluid">     
	  <div class="row">
		 <div class="col-md-6 col-md-offset-3">
			<h3>Sign In</h3>
			<hr/>
			<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span>Google+</a>
			<hr/>
		 </div>
	  </div>
  <form action="/login" method="post">
	  <div class="row">
	      <div class="col-md-6 col-md-offset-3">
			  <div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" name="email" placeholder="Enter email">
			  </div>
		  </div>
	  </div>
	  <div class="row">
	      <div class="col-md-6 col-md-offset-3">
			  <div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" name="password" placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-primary">Login</button>
		  </div>
	  </div>
  </form>
</div>