<div class="pagination-header">
    <h2 class="pagination-text">Sovi tapaamisen ajankohta</h2>
    <ul class="list-inline">
          <li ng-class="stage1">1. Yleistä <span class="glyphicon glyphicon-arrow-right"></span></li>
          <li ng-class="stage2">2. Aikaehdotukset <span class="glyphicon glyphicon-arrow-right"></span></li>
          <li ng-class="stage3">3. Kutsu <span class="glyphicon glyphicon-arrow-right"></span></li> 
          <li ng-class="stage4">4. Loppu </li>
    </ul>
</div>
<div class="partial-content">
    <div class="row">
        <div class="text-block">
            <div class="content">
                <h2 class="wide-h">Kysely luotu !</h2>
                <p class="wide">Kysely URL: <a ng-href="{{pollUrl}}">{{ pollUrl }}</a></p>
            </div>
        </div>
    </div>
</div>
