<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand">Comiq</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a ui-sref="main.home" ng-hide="user.role === 'admin'">Home</a></li>
        <li><a ui-sref="main.myAccount" ng-hide="user.role === 'admin'">My-Account</a></li>
        <li><a ui-sref="main.dashboard" ng-hide="user.role === 'user'">dashboard</a></li>
    </ul>
        <div class="navbar-text navbar-right"><a ui-sref="main.signup" class="navbar-link">Signup</a></div>
        <div class="navbar-text navbar-right"><a ng-href="#/logout" class="navbar-link" ng-click="logout()">Logout</a></div>
</nav>
<div class="container-fluid">
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
			         <div ui-view></div>
                </div>
            </div>
		</div>
    </div>
</div>