<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand">Comiq</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a ui-sref="main.home" ng-hide="user.role === 'admin'">Home</a></li>
        <li><a ui-sref="main.myAccount" ng-hide="user.role === 'admin'">My-Account</a></li>
        <li><a ui-sref="main.dashboard" ng-hide="user.role === 'user'">dashboard</a></li>
    </ul>
</nav>
<div class="container-fluid">
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
			<div ui-view></div>
		</div>
    </div>
</div>