<div ng-show="vm.isAdmin">
	<hr>
	<h3>{{ vm.user.name }}</h3>
</div>
<div class="col-xs-6">
	<div ng-hide="vm.isAdmin"><h4>View your past data:</h4></div>
	<div class="form-group">
	  	<label>Select period:</label>
	  	<select class="form-control" ng-model="vm.selectedItem" ng-change="vm.getPeriodData(vm.selectedItem)">
	    	<option ng-repeat="timeOption in vm.timeOptions">{{ timeOption }}</option>
	  	</select>
	</div>
</div>
<canvas id="bar" class="chart chart-bar" chart-data="vm.data" chart-labels="vm.labels" chart-click="vm.onClick" ng-show="vm.selectedItem"></canvas>