<div class="container-fluid">     
	  <div class="row">
		 <div class="col-md-6 col-md-offset-3">
			<h3>My Account</h3>
			<hr/>
			<div class="btn-group" dropdown is-open="status.isopen">
      			<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
      				Button dropdown<span class="caret"></span>
      			</button>
     			<ul class="dropdown-menu" role="menu">
        			<li><a href="#">Action</a></li>
        			<li><a href="#">Another action</a></li>
        			<li><a href="#">Something else here</a></li>
        			<li class="divider"></li>
        			<li><a href="#">{{status.isopen}}</a></li>
      			</ul>
    		</div>
			<canvas id="line" class="chart chart-line" data="data" labels="labels" click="onClick"></canvas>
		 </div>
	  </div>
</div>