<div class="pagination-header">
    <h2 class="pagination-text">Sovi tapaamisen ajankohta</h2>
    <ul class="list-inline">
          <li ng-class="stage1">1. Yleistä <span class="glyphicon glyphicon-arrow-right"></span></li>
          <li ng-class="stage2">2. Aikaehdotukset <span class="glyphicon glyphicon-arrow-right"></span></li>
          <li ng-class="stage3">3. Kutsu <span class="glyphicon glyphicon-arrow-right"></span></li> 
          <li ng-class="stage4">4. Loppu </li>
    </ul>     
</div>
<div class="partial-content">
    <div class="row">
    	<div class="col-md-6 col-md-offset-1">
        	<div style="display:inline-block; min-height:290px;">
            	<datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" ng-click="addDate(dt)"></datepicker>
        	</div>
        </div>
        <div class="col-md-4">
    	    <table class="table">
    		    <tr ng-repeat="dt in dates | orderBy">
    		        <td class="center">{{ dt | date:'longDate' }}</td>
    		        <td class="left"><span class="glyphicon glyphicon-trash spacer" ng-click="deleteDate(dt)"></span></td>
    		    </tr>   	
    		</table>
    	</div>
    </div>    
    <div class="row">
    	<div class="col-md-4  col-md-offset-1">
    		<a class="btn btn-primary" href="#/general" ng-click="writeData()">Takaisin</a>
    		<a class="btn btn-primary" href="#/invite" ng-click="writeData()">Seuraava</a>
    	</div>
    </div>
</div>