<hr>
<div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="findUser" placeholder="Find user...">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
    <div class="dropdown" ng-repeat = "user in users | filter: findUser | limitTo:8" >
        <button class="btn btn-default btn-block" type="button" data-toggle="collapse" data-target="#collapseExample-{{$index}}">
            <div ng-show="user.role === 'admin'"> {{ user.email }} <span class="caret"></span> </div>
            <div ng-hide="user.role === 'admin'"> {{ user.name }} <span class="caret"></span></div>
        </button>
        <div id="collapseExample-{{$index}}" class="panel-collapse collapse">
            <ul class="list-group">
                <a ng-href="#/dashboard/users/{{$index}}" ng-click="getUser($index)" ng-hide="user.role === 'admin'"><li class="list-group-item">Edit</li></a>
                <a ng-href="#/dashboard/users/data/{{$index}}" ng-click="getUser($index)" ng-hide="user.role === 'admin'"><li class="list-group-item"><span class="glyphicon glyphicon-play"></span>View</li></a>
                <a ng-href="#/users" ng-click="deleteAdmin($index)"><li class="list-group-item" ng-show="isAdmin"><span class="glyphicon glyphicon-list-alt"></span>Delete</li></a>
            </ul>
        </div>
    </div>
    </div>
</div>

 <!--   <p>
        I can even contain HTML. <a href="#" tooltip-placement="right" tooltip-html="htmlTooltip">Check me out!</a>
    </p> -->
<!-- <div ui-view></div>  -->
