<div class="container-fluid">
      <div class="row">
         <div class="col-md-6 col-md-offset-3">
            <h3>Users</h3>
               <hr/>
               <div class="col-xs-4">
                  <input type="text" class="form-control" placeholder="Name">
               </div>
         </div>
      </div>
      <div ng-repeat="user in users">
      <div class="row">
          <!-- <div class="col-md-1 col-md-offset-3"> -->
              <!-- <div ng-repeat="user in users"> -->
                  <div class="col-md-1 col-md-offset-3">
                      <a class="btn btn-primary" href="#/user" ng-click="getUser($index)">Edit</a>
                  </div>
                  <div class="col-md-2">
                      {{ user.name }}
                  </div>
                   <div class="col-md-1">
                      <a class="btn btn-primary" href="#/my-account" ng-click="getUser($index)">View</a>
                  </div>
                   <div class="col-md-1">
                      <a class="btn btn-danger" href="#/users" ng-click="deleteUser($index)">Delete</a>
                  </div>
              <!-- </div> -->
          <!-- </div> -->
      </div>
      </div>
</div>