<div class="container-fluid">
  <div ng-include="'views/templates/navbar.html'"></div>
  <div class="row">
     <div class="col-md-6 col-md-offset-3">
        <h3>Users/{{ name }}</h3>
        <hr/>
     </div>
  </div>
  <div class="row">
     <div class="col-md-2 col-md-offset-3">
        <div class="form-group">
           <label for="name">Name</label>
           <input type="text" class="form-control" ng-model="name" readonly>
        </div>
     </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-3">
      <input type="checkbox" ng-model="isUserManager">
      <label for="name">Manager</label>
    </div>
  </div>
  <div class="row" ng-hide="isUserManager">
     <div class="col-md-2 col-md-offset-3">
       <div class="form-group">
       <label for="manager">Manager's name</label>
            <select class="form-control" ng-model="myManager" ng-options="manager.name for manager in managers">
             <!-- <option value=""> choose Manager </option> -->
            </select>
       </div>
     </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-3">
        <a class="btn btn-primary" href="#/users" ng-click="updateUser()">Update</a>
    </div>
  </div>
</div>