<hr>
<h3>{{ name }}</h3>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
           <label for="name">Name</label>
           <input type="text" class="form-control" ng-model="name" readonly>
        </div>
    </div>
</div>
<input type="checkbox" ng-model="isUserManager">
<label for="name">Manager</label>
<div class="row" ng-hide="isUserManager">
    <div class="col-md-6">
        <div class="form-group">
            <label for="manager">Manager's name</label>
            <select class="form-control" ng-model="myManager" ng-options="manager.name for manager in managers"></select>
        </div>
    </div>
</div>
<a class="btn btn-primary" href="#/users" ng-click="updateUser()">Update</a>