<div class="row">
    <hr>
</div>
<div class="row">
    <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Find user...">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    <div class="dropdown" ng-repeat = "user in users">
        <button ng-click="getJobName($index)" class="btn btn-default btn-block" type="button" data-toggle="collapse" data-target="#collapseExample-{{$index}}">
            {{ user.name }}
            <span class="caret"></span>
        </button>
        <div id="collapseExample-{{$index}}" class="panel-collapse collapse">
            <ul class="list-group">
                <a href="#/user" ng-click="getUser($index)"><li class="list-group-item">Edit</li></a>
                <a href="#/view-user-data" ng-click="getUser($index)"><li class="list-group-item"><span class="glyphicon glyphicon-play"></span>View</li></a>
                <a href="#/users" ng-click="deleteUser($index)"><li class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span>Delete</li></a>
            </ul>
        </div>
    </div>
    </div>
</div>

