/*user home page*/
.glyphicon.glyphicon-star, .glyphicon.glyphicon-star-empty {
	font-size: 2em;
}

span.label {
	font-size: 2em;
}

div.meter {
	padding: 10px 10px 10px 0px;
}

/*my-account page*/
select { 
    width: 8em; 
}

/*div.container {
    display: table-cell;
    vertical-align: middle;
}*/

/*dashboard*/
.well {
	width: 10em;
	height: 8em;
	text-align: center;
    display: table-cell;
    vertical-align: middle;
}

h3 {
	margin-top: 10px;
}

#userWell, #managerWell, #adminWell {
	width: 200px;
}

  
