/*user home page*/
/*.glyphicon.glyphicon-star, .glyphicon.glyphicon-star-empty {
	font-size: 2em;
}

span.label {
	font-size: 2em;
}

div.meter {
	padding: 10px 10px 10px 0px;
} */

/*my-account page*/
select {
    width: 8em;
}

/*div.container {
    display: table-cell;
    vertical-align: middle;
}*/

/*dashboard*/
.well {
	width: 10em;
	height: 8em;
	text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: white;
 	background: green;
 	border-radius: 10px;
}

h3 {
	margin-top: 10px;
}

#userWell, #managerWell, #adminWell {
	width:  200px;
}

tr {
	background-color: green;
}

/*#name {
	color: white;
	font-weight: bold;
} */

.glyphicon.glyphicon-pencil, .glyphicon.glyphicon-trash, .glyphicon.glyphicon-picture {
	color: white;
}

#name-column {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
	color: white;
	font-weight: bold;
}

#delete-column {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.panel-default > .panel-heading {
  	background: green;
}

.panel-default {
	border-color: green;
}

hr {
	border-color: green;
}

.navbar {
	background: green;
	color: white;
}

/* home page */
body {
	background-color: #CBCBCF;
	background: linear-gradient(#CBCBCF, #D8D8DB);
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#header {
	color: #34495E;
	text-align: center;
	font-size: 2.6em;
	padding: 25px 0px 25px;
}

#sub-header {
	/* max-width: 500px; */
	font-size: 17px;
    margin: 0px auto 100px;
	color: #777;
	text-align: center;
	padding: 0px 10px;
}

#rating-header {
	font-size: 1.5em;
	font-weight: 400;
	font-style: italic;
	width: 90%;
	margin: 0px auto 30px;
	color: #333;
	text-align: center;
}

ul#rating-buttons img {
	max-width: 100px;
	margin: 0px;
	padding: 0px 0px 0px 1.5rem;
}

ul#rating-buttons {
	padding: 0px;
}

#send-button {
	margin-top: 50px;
	margin-bottom: 25px;
}

ul#rating-buttons li {
    display: inline;
}

.opacity-half {
	opacity: 0.35;
}

.opacity-almostfull {
	opacity: 0.75;
}

.opacity-full {
	opacity: 1.0;
}

