<div class="row">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="col-md-1">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img alt="Brand" src="...">
				</a>
			</div>
		</div>
		<div class="col-md-6 col-md-offset-2">
			<ul class="nav nav-tabs nav-justified">
				<li role="presentation" ng-class="home" ng-model="home" ng-hide="user.role === 'admin'"><a href="#/home"><h3><span class="glyphicon glyphicon-home"></span>Home</h3></a></li>
				<li role="presentation" ng-class="account" ng-model="account" ng-hide="user.role === 'admin'"><a href="#/my-account"><h3><span class="glyphicon glyphicon-eye-open"></span>My Account</h3></a></li>
				<li role="presentation" ng-class="dashboard" ng-model="dashboard" ng-show="user.role === 'manager'"><a href="#/dashboard"><h3><span class="glyphicon glyphicon-user"></span>Dashboard</h3></a></li>
			</ul>
		</div>
	</nav>
</div>